<?xml version="1.0"?>
<launch>

    <param name="pkg_path" value="$(find rosbot)"/>
	<param name="planner_path" value="$(find rosplan_planning_system)/common/bin/popf"/>
    <param name="data_path" value="$(find rosbot)/pddl"/>
    
    <include file="$(find rosbot)/launch/rosplan.launch"/>
    
    <include file="$(find rosbot)/launch/gmapping.launch"></include>
    <include file="$(find rosbot)/launch/move_base.launch"></include>
    
    <node name="robot_logic" pkg="rosbot" type="robot_logic.py" output="screen"
        launch-prefix="xterm -e" required="true" />
    <node name="robot_vision" pkg="rosbot" type="robot_vision.py" output="screen"/>
    
</launch>